<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <title>Here are th cars!</title>
    </head>

        <body>
          <div class='container'>
            <div class='jumbotron'>
              <h1>Dealership</h1>
              <p>Lorem ipsum dolor sit amet,</p>
            </div>  <!-- /JUMBOTRON -->

        <!-- Row: 1 -->
            <div class='row'>
              <div class='col-sm-6'>
                  <form action='/cars' method='post'>

                      <div class='form-group'>
                        <label for='make'>Enter your car make/model:</label>
                        <input id='make' name='make' type='text'>
                      </div>

                      <div class='form-group'>
                        <label for='image'>Enter image URL:</label>
                        <input id='image' name='image' type='text'>
                      </div>

                      <div class='form-group'>
                        <label for='price'>Enter the price:</label>
                        <input id='price' name='price' type='text'>
                      </div>

                      <div class='form-group'>
                        <label for='miles'>Enter the mileage:</label>
                        <input id='miles' name='miles' type='text'>
                      </div>

                      <div class='form-group'>
                        <label for='status'>New or Used?:</label>
                        <input id='status' name='status' type='text'>
                      </div>


                      <button type='submit'>Add your car!</button>
                </form>

                <!-- DELETE CARS -->
                <form action='/delete_cars' method='post'>
                    <button type='submit'>Clear</button>
                </form>

            </div>  <!-- /col-sm-6 -->

            <!-- BUY A CAR -->
            <div class="col-sm-6">
                <form action='/car_matches'>
                    <div class='form-group'>
                        <label for=''>Max price you want to pay:</label>
                        <input class='form-control' type='text' name='matchPrice' value=''>
                    </div>

                    <button class='btn btn-info' type='submit' name='button'>Gimme some sugar baby</button>
                </form>
            </div>
          </div>  <!-- /Row -->

            <div class="row">

                <!-- Display cars already created -->
                <div class="col-sm-6">
                    <h3>All Cars For Sale</h3>
                    {% if cars is not empty %}
                  <ul>
                      {% for car in cars %}
                      <li><img src='{{ car.getImage }}' alt="" /><li>
                      <h3>{{ car.getModel}}</h3>
                      <li>{{ car.getPrice}}</li>
                      <li>{{ car.getMiles}}</li>
                      <li>{{ car.getStatus}}</li>
                      {% endfor %}
                  </ul>
                    {% endif %}
                </div>

                <!-- Display cars Matching Form Price Input -->
                <div class="col-sm-6">
                    <h3>All Cars Based on your price limit</h3>
                    <h1>Here are your car results!</h1>

                    {% for car in match_cars %}
                    <div class="row">
                        <div class='col-md-6'>
                            <h2> {{ car.getModel }}</h2>
                        </div>
                        <div class='col-md-6'>
                            <p> {{ car.getPrice }}</p>
                            <p> {{ car.getMiles }}</p>
                            <img src= "{{ car.getPhoto }}">
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>







          </div>  <!-- /Container -->




        </body>
</html>
